@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
}

li {
    list-style: none;
}

body {
    background: url(img/bg-main.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);

}

header nav {
    width: 40%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}

header nav ul li {}

header nav ul li a {
    color: #fff;
    font-weight: 700;
}

header .search i {
    color: #fff;
    font-size: 25px;
}

.slick .left {
    float: left;
    width: 60%;
    box-sizing: border-box;
}

.slick .slick-slide .left img {
    padding-top: 20%;
    transform: translate(-200%, 0);
    opacity: 0;
    transition: 1.5s;
}

.slick .slick-slide.slick-active .left img {
    transform: translate(0, 0);
    opacity: 1;
}



.slick .right {
    float: right;
    width: 40%;
    box-sizing: border-box;
    padding-top: 10%;
    color: #fff;
}

.slick .right .right-t h3 {
    display: inline-block;
    font-size: 40px;
    margin-right: 20px;
    font-style: italic;
}


.slick .right .right-m {
    line-height: 2;
}

.slick .right .right-m {}

.slick .right .right-b {
    padding-top: 20px;
}

.slick .right .right-b .size {
    background-color: #ffde00;
    border: none;
    font-weight: 700;
    color: #000;
    font-size: 18px;
    padding: 2px;
}

.slick .right .right-b .cart {
    border: 1px solid #fff;
    background: transparent;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    margin: 0 10px;
}


.slick .right .right-t h4 {
    font-size: 30px;
    padding-top: 20px;
}

.slick .right .right-t .star i {
    color: #ffde00;
    margin-right: 6px;
}

.slick .right .right-t .star i:last-child {
    color: #fff;
}


section {
    margin: 0 auto;
}

.slick .slick-slide {
    position: relative;
}

.slick-slide img {
    margin: 0 auto;
    width: 100%;
}

.slick .slick-slide .left .jordan {
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: -1;
    text-align: right;
    transform: translate(100%, 0);
    transition: 0.5s;
    opacity: 0;
}

.slick .slick-slide.slick-active .left .jordan {
    transform: translate(0, 0);
    opacity: 1;
}

.slick .slick-slide .left .jordan h2 {
    /* 화면넓이에 반응 */
    font-size: 12vw;
    font-weight: 800;
    color: #fff;
    line-height: 0.9;
    text-align: left;

}

.slick .slick-slide .left .jordan span {
    font-size: 30px;
    color: #fff;

}


/* display:none <-> display:block  영역 사라짐 애니메이션X*/
/* visibility:hidden <-> visibility:visible  영역 유지 애니메이션X*/

.slick .slick-prev {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    visibility: hidden;
}

.slick .slick-prev::after{
    content: '\f048';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    visibility: visible;
}

.slick .slick-next {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}


.slick .slick-slide .right .right-t h3 {
    transform: translate(0, -200%);
    opacity: 0;
    transition: 2s;

}

.slick .slick-slide.slick-active .right .right-t h3 {
    transform: translate(0, 0);
    opacity: 1;
}

.slick .slick-slide .right .right-t .star i {
    transform: translate(400%, 0);
    opacity: 0;
    transition: 2s;
}

.slick .slick-slide.slick-active .right .right-t .star i {
    transform: translate(0, 0);
    opacity: 1;
}

.slick .slick-slide .right .right-t h4 {
    transform: translate(-400%, 0);
    opacity: 0;
    transition: 2s;
}

.slick .slick-slide.slick-active .right .right-t h4 {
    transform: translate(0, 0);
    opacity: 1;
}

.slick .slick-slide .right .right-m {
    transform: translate(0, 400%);
    opacity: 0;
    transition: 1.5s;
}

.slick .slick-slide.slick-active .right .right-m {
    transform: translate(0, 0);
    opacity: 1;
}

.slick .slick-slide .right .right-b .size {
    transform: translate(-400%, 0);
    opacity: 0;
    transition: 2s;
}

.slick .slick-slide.slick-active .right .right-b .size {
    transform: translate(0, 0);
    opacity: 1;
}

.slick .slick-slide .right .right-b .cart {
    transform: translate(0, 400%);
    opacity: 0;
    transition: 2s;
}

.slick .slick-slide.slick-active .right .right-b .cart {
    transform: translate(0, 0);
    opacity: 1;
}

.slick .slick-slide .right .right-b span {
    transform: translate(400%, 0);
    opacity: 0;
    transition: 2s;
    display: inline-block;
}

.slick .slick-slide.slick-active .right .right-b span {
    transform: translate(0, 0);
    opacity: 1;
    display: inline-block;
}